/** @format */

$color-white: white;
$color-grey-light: rgb(246, 246, 246);
$color-grey-medium: rgb(125, 123, 123);
$color-grey-dark: #152d35;
$color-red: red;
$color-green-medium: #345b63;
$color-blue-dark: #112031;
